server:
  port: 9090

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/blogdb
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
  jpa:
    hibernate:
      ddl-auto: create       # use 'validate' or migrations for prod
    properties:
      hibernate:
        format_sql: true
        jdbc:
          lob:
            non_contextual_creation: true
    show-sql: true

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

security:
  jwt:
    secret: aezsgd2548256frgrgrfgheehfr28418236jdxyuedjkso2548fozidydn285415dd
    expiration-minutes: 30
    cookie-name: ACCESS_TOKEN
    cookie-secure: false
    cookie-path: /
    cookie-same-site: Lax